@model Dictionary<string, IEnumerable<Liyanjie.Membership.Core.IAuthority>>

@{
    ViewData["Title"] = "测试";
}

@foreach (var group in Model["ActionPath"].GroupBy(_ => _.Group))
{
    <h2>@group.Key</h2>
    <ol>
        @foreach (var authority in group)
        {
            <li>@authority.Title：@authority.Resource</li>
        }
    </ol>
}
@foreach (var group in Model["HttpMethod"].GroupBy(_ => _.Group))
{
    <h2>@group.Key</h2>
    <ol>
        @foreach (var authority in group)
        {
            <li>@authority.Title：@authority.Resource</li>
        }
    </ol>
}